@media screen and (min-width: 3900px) {
@font-face {
	font-family: 'myfont2';
    src: url("../font/simhei.ttf");
}
*{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.5vw;
    font-family: myfont2;
}
html,body{
    width: 100%;
    height: 100%;
}
.cont{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}
.head{
    height: 8vh;
    width: 100%;
    background-image: url(../images/bg_666.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 99;
    position: absolute;
}
.head_left,.head_center,.head_right{
    height: 8vh;
    width: 30vw;
}
.head_center{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    padding-bottom: 1vh;
    color: #00FFE2;
    box-sizing: border-box;
}
.weather{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 14vw;
    height: 4vh;
}
.weather>div{
    margin: 0 0.2vw;
    font-size: 0.6vw;
}
.weather_img{
    width: 0.75vw;
}
.head_left_info{
    display: flex;
    align-items: center;
    padding: 0 0.8vw;
    padding-top: 0.5vh;
    box-sizing: border-box;
    width: 19.5vw;
    justify-content: flex-end;
}
.head_left_info_font{
    font-size: 0.51vw;
}
.head_left_info_img{
    width: 1.5.vw;
    margin-right: 0.3vw;
}
.head_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.timer{
    height: 4vh;
    width: 14vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-middle-box{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    z-index: 1;
}

.tl{
    position: absolute;
    z-index: 99;
    top: 10%;
    right: 20%;
    width: 4.455vw;
    height: 56vh;
    background-color:rgba(5,31,35,0.75);
    border: #299598 solid 1px;
    border-radius: 5px;
    padding: 0.5vh 0.3vw;
    box-sizing: border-box;
}
.tl_title{
    text-align: center;
    border-bottom:#299598 solid 1px ;
    padding: 0.5vh 0;
    box-sizing: border-box;
}
.bihuan{
    border-bottom:#299598 solid 1px ;
    padding: 0.5vh 0;
    box-sizing: border-box;
}
.bihuan_item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4vh 0 ;
    box-sizing: border-box;
}
.bihuan_img{
    width: 0.675vw;
    margin-right: 0.3vw;
}
.cont_left{
    background-color:rgba(5,31,35,0.75);
    width: 19.5vw;
    height: 100%;
    z-index: 2;
    padding-top: 8vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont_right{
    background-color:rgba(5,31,35,0.75);
    width: 19.5vw;
    height: 100%;
    z-index: 2;
    padding-top: 8vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont_footer{
    width: 61vw;
    height: 32vh;
    background-color:rgba(5,31,35,0.75);
    z-index: 2;
    position: relative;
    top: 68vh;
}
.left_one{
    height: 29vh;
    width: 18.375vw;
    background-image: url(../images/jx.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 1.3vh;
}
.title_name{
    height: 3.3vh;
    background-image: url(../images/xbq.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65vw;
    color: #00FFE2;
    font-weight: 550;
}
.gltx,.yjnr,.gzlx{
    width: 100%;
    padding: 0 0.375vw;
    margin-top: 1vh;
    box-sizing: border-box;
}
.gltx_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #00FFE2 solid 1px;
}
.gltx_nav_name{
    background-color: #002F3A;
    color: #25A3B1;
    padding: 0.3vh 0.3vw;
    box-sizing: border-box;
    border-radius: 0.3vw 0.3vw 0 0;
    cursor: pointer;
}
.gltx_nav_name_select{
    background-color: #00FFE2;
    color: #01151A;
}
.gltx_info{
    height: 25vh;
    background-color:#002F3A;
    padding-top: 0.5vh;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
}
.gltx_info_row{
    border: #1E777C solid 1px;
    border-radius: 5px;
    margin: 0 0.375vw;
    padding: 0.3vh 0.3vw;
    margin-bottom: 0.5vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 3.1vh;
}
.gltx_info_row_left{
    border-right: #1E777C solid 1px;
    width: 20%;
    display: flex;
    align-items: center;
    margin: 0.1vh 0;
}
.gltx_info_row_right *{
    font-size: 0.525vw;
}
.gltx_info_row_right{
    padding: 0 0.375vw;
    box-sizing: border-box;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
}
.gltx_info_row_right_content{
    display: flex;
    align-items: center;
    width: 5.6vw;
    margin-right: 0.1.5.vw;
}
.gltx_info_row_right_content_zw{
    padding-right:0.1.5.vw;
    box-sizing: border-box;
    white-space: nowrap;
}
.gltx_info_row_right_content_name{
    text-align-last: justify;
    width: 45%;
    color: #15EEFF;
}
.asdg{
    display: flex;
    flex-direction: column;
    width: 20%;
}
.asdadsa{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.asdg>.gltx_info_row_left,.asdadsa>.gltx_info_row_right{
    width: 100%;
}
.yjnr .gltx_nav_name{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.yjnr_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.yjnr_item{
    width: 8.55vw;
    height: 7.5vh;
    background-color: #042E36;
    margin-top:1vh;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.yjnr_item>img{
    width: 1.125vw;
    margin: 0 0.8vw;
}
.yjnr_info_title{
    padding-bottom: 0.3vh;
    box-sizing: border-box;
}
.c_blue{
    color: #15EEFF;
}
.yjnr_info_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gzlx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.gzlx_left{
    width: 10.6vw;
    display: flex;
    flex-direction: column;
}
.gzlx_left_head{
    height: 3.5vh;
    background-color: #042E36;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gzlx_left_cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gzlx_left_cont_item{
    background-color: #002F3A;
    height: 4.5vh;
    width:5.2vw;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.2vw;
    box-sizing: border-box;
}
.gzlx_right{
    width: 6.375vw;
    height: 1vw;
}
.gzlx_right_item{
    height:5.19vh ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
}
.gzlx_right_item_left{
    background-color: #002F3A;
    width:2.04vw ;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gzlx_right_item_right{
    background-color: #002F3A;
    width:4.06vw;
    height: 100%;
    display: flex;
    align-items: center;
}
.gzlx_right_item_right_img{
    width: 0.975vw;
    margin: 0 0.3vw;    
}
.gzlx_right_item_right_right>div,.gzlx_left_cont_item>div{
    text-align: right;
}
.gzlx_right_item1{
    height:11vh; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
}
.asdasf{
    height:11vh; 
}
.asdasf>.gzlx_right_item_right{
    height: 50%;
}


.bidu{
    height: 28.9vh;
    margin: 2vh 0;
    background-image: url(../images/hdthrhrd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.tishi{
    position: absolute;
    z-index: 9999999999;
    top: 10%;
    background-image: linear-gradient(to right,rgba(255, 0, 0, 0.0)  , red,rgba(255, 0, 0, 0));
    left: 35.5%;
    height: 4vh;
    display: flex;
    align-items: center;
    width: 24.75vw;
    justify-content: center;
}
.serach{
    position: absolute;
    top: 15%;
    left: 43%;
    z-index: 9;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.serach ::placeholder{
    color: #15EEFF;
}
.search_img{
    width: 0.75vw;
    position: absolute;
    right: 3%;
    border-left: #30AAAD solid 1px;
    padding-left: 0.375vw;
    /* box-sizing: border-box; */
}
.sousuo{
    background-color: #042A31;
    border: #30AAAD solid 1px;
    border-radius: 5px;
    height:3.5vh;
    width: 10.5vw;
    position: relative;
    padding: 0 0.375vw;
    box-sizing: border-box;
}
.ts{
    position: absolute;
    top: 6%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.tishi img{
    width: 0.8vw;
    margin-right: 0.375vw;
}
.ts_item{
    display: flex;
    align-items: center;
    width: 17vw;
    justify-content: center;
}
.c_qing{
    color: #02EDBB;
}
.ts_item_col{
    padding: 0 0.375vw;
    box-sizing: border-box;
    white-space: nowrap;
}
.footer_title{
    height: 3.5vh;
    background-image: url(../images/xbq.png);
    background-repeat: no-repeat;
    background-size: 70% 100%;
    background-position: center;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7125vw;
    color: #00FFE2;
    font-weight: 550;

}
.table-head {
    /* margin-top: 1vh; */
    display: flex;
    box-sizing: border-box;
    align-items: center;
    height: 4vh;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    background-color: #002F3A;
}

.table-head span {
    text-align: center;
    font-size: 0.8vw;
    color: #fff;
}

.card-table {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #002F3A;
    border-top: 1px solid #002F3A;
    position: relative;
    height: 4.5vh;
}

.face .face-div:first-child {
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.face .face-div:nth-child(2) {
    width: 15%;
}

.face .face-div:nth-child(3) {
    width: 25%;
}

.face .face-div:nth-child(4) {
    width: 38%;
    padding-bottom: 1vh;
    box-sizing: border-box;
}

.face .face-div:nth-child(5) {
    width: 15%;
}

.face .face-div:nth-child(6) {
    width: 10%;
}

.face .face-div:nth-child(7) {
    width: 20%;

}

.el-steps--horizontal {
    white-space: nowrap;
}

.el-steps {
    display: flex;
}

.el-step.is-horizontal {
    display: inline-block;
}

.el-step {
    position: relative;
    flex-shrink: 1;
}

.el-step__head.is-process {
    color: #303133;
    border-color: #303133;
}

.el-step.is-horizontal .el-step__line {
    height: 0.3052vh;
    top: 0.504vh;
    left: 0;
    right: 0;
}

.el-step__line {
    position: absolute;
    border-color: inherit;
    background-color: #c0c4cc;
}

.el-step__icon.is-text {
    border-radius: 50%;
    border-color: inherit;
}

.el-step__icon {
    position: relative;
    z-index: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    border-radius: 50%;
    min-width: 0.5976vw;
    min-height: 0.5976vw;
    text-align: center;
    box-sizing: content-box;
    line-height: 1;
    white-space: nowrap;
    box-sizing: border-box;
    background: #fff;
    transition: 0.15s ease-out;
}

.el-step__head {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.el-step__main {
    white-space: normal;
    text-align: left;
}

.el-step__head.is-process .el-step__icon,
.el-step__head.is-finish .el-step__icon {
    background-color: #02EDBB;
}

.el-step__head.is-process .el-step__line {
    background-color: #02EDBB;
}

.el-step__title {
    font-size: 0.35vw;
    line-height: 1.8519vh;
    height: 1.8519vh;
}

.el-step:last-of-type.is-flex {
    flex-basis: auto !important;
    flex-shrink: 0;
    flex-grow: 0;
}

.el-step:last-of-type .el-step__line {
    display: none;
}

.face-div .layui-btn-primary {
    background-color: transparent;
    color: #fff;
    top: 0;
    right: 0.525vw;
    height: 2.3148vh;
    line-height: 2.3148vh;
    padding: 0 0.1vw;
    border-radius: 0.1vw;
    font-size: 0.525vw;
    border-color: #0F87FF;
    min-width: 2.5vw;
}

.el-step__title.is-up {
    font-size: 0.5167vw;
    line-height: 1.8519vh;
    height: 1.8519vh;
    position: absolute;
    left: 0;
    width: 4vw;
    top: -2vh;
    left: -1.5vw;
    text-align: center;
}

.face-div {
    text-align: center;
    font-size: 0.525vw;
}

.el-step__title.is-down {
    position: absolute;
    width: 4vw;
    bottom: -2vh;
    left: -1.8vw;
    text-align: center;
}


.liu {
    width: 100%;
    /* border: 0.1vh solid #0036D9; */
    height: 80%;
    padding: 0 0.525vw;
    box-sizing: border-box;
}

.face {
    position: absolute;
    /* border-radius: 5px; */
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    display: flex;
    align-items: center;
    height: 4.5vh;
    color: #fff;
    font-size: 0.4167vw;
    transform-style: preserve-3d;
}

.front {
    z-index: 10;
    width: 100%;
}
.yuan{
    border-radius: 100%;
    height:0.6vw;
    width: 0.6vw;
    position: absolute;
    left: 5%;
}
.c_red{
    background-color: #FF5252;
}
.c_yellow{
    background-color: #FF9900;
}
.c_grren{
    background-color: #1CE849;
}
.yjtz,.zhfx,.yjmx{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.yjtz_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 32.5%;
    height: 9.5vh;
}

.font_1{
    font-size: 0.75vw;
}
.yjtz_img{
    width: 1.25vw;
}
.zhfx_item{
    width: 25%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 10.5vh;
}
._zhfx_img{
    width: 2.7vw;
}
.yjmx_item{
    width: 32.8%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 12.5vh;
}
._yjmx_img{
    width: 2.85vw;
    padding-bottom: 0.5vh;
    box-sizing: border-box;
}
}